.addCategoryModel{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #ffffffa1;
}
.addCategoryModel .addCategoryModelBox{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px #efefef;
    border: none;
    outline: none;
    padding: 15px;
}
.addCategoryModel .addCategoryModelBox .addCategoryModelBoxTop{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.addCategoryModel .addCategoryModelBox .addCategoryModelBoxTop span{
    font-weight: bold;
    font-size: 19px;
    color: var(--black);
}
.addCategoryModel .addCategoryModelBox {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  width: 500px;
  padding: 15px;
}
.addCategoryModel .addCategoryModelBox h4 {
  color: var(--black);
}
.addCategoryModel .addCategoryModelBox .addCategoryModelBoxFormGroup {
  margin-bottom: 15px;
}
.addCategoryModel .addCategoryModelBox .addCategoryModelBoxFormGroup label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  color: var(--black);
}
.addCategoryModel .addCategoryModelBox .addCategoryModelBoxFormGroup input {
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid var(--gray);
  outline: none;
}
.addCategoryModel .addCategoryModelBox button {
  display: block;
  margin-top: 20px;
}
