.footer {
  background-color: var(--black);
  color: #fff;
  padding: 100px 0 20px;
}
.footer h4 {
  position: relative;
  margin-bottom: 40px;
  font-weight: bold;
}
.footer h4::after {
  position: absolute;
  content: "";
  width: 15%;
  height: 3px;
  background-color: var(--orange);
  left: 0;
  bottom: -13px;
}
.footer a {
  color: var(--notverygray);
  display: block;
  margin-bottom: 10px;
}
.footer a:hover {
  color: var(--orange);
}
.footer p {
  color: var(--notverygray);
}
