* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  background-color: #f7f9fb !important;
}
:root {
  --orange: #F1BC16;
  --black: #222222;
  --gray: #ccc;
  --notverygray: #777;
}
button {
  transition: 0.3s;
  color: #fff;
  padding: 12px;
  font-weight: 600;
}
.orangetoblack {
  background-color: var(--orange);
  border: 0px;
  outline: none;
}
.orangetoblack:hover {
  background-color: var(--black);
  border: 0px;
  outline: none;
}
.blacktoorange {
  background-color: var(--black);
  border: 0px;
  outline: none;
}
.blacktoorange:hover {
  background-color: var(--orange);
  border: 0px;
  outline: none;
}
a {
  text-decoration: none !important;
}
p {
  color: var(--gray);
}
h1,
h2,
h3 {
  color: var(--black);
}
label{
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--black);
}
input{
  width: 100%;
  display: block;
  background: none;
  padding: 10px;
  border: 1px solid var(--gray);
  outline: none;
}
select{
  width: 100%;
  display: block;
  background: none;
  padding: 10px;
  border: 1px solid var(--gray);
  outline: none;
}
p p {
  color: #777;
}
@media screen and (max-width:700px) {
  .container{
    width: 100%!important;
  }
}