.car-specs p {
  color: black;
  opacity: 0.7;
}
.car-slides-images {
  width: 100%;
  height: 400px;
}
.car-slides-images img {
  width: 100%;
  object-fit: cover;
}
.car-slides-images .slider button {
  margin: 21px;
  z-index: 999;
  margin-top: 3px;
}
.car-slides-images .slider button::before {
  color: var(--orange);
}
.car-desc p {
  color: black;
  opacity: 0.7;
}
.infotitle {
  width: fit-content;
}
.infotitle::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  background-color: var(--orange);
  bottom: -13px;
  left: 0;
}
